
<div class="container py-sm-4 h-auto w-auto">
  <h1>
    MAKE DELETE FORM
  </h1>
  <div class="col-xl-10 p-lg-4 mx-lg-auto bg-white border-4 border">
    <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct()">
      <div class="mat-form-field align-self-auto">
        <input required type="text" id="description" formControlName="description" class="form-control form-control-lg" />
        <div *ngIf="description && description?.touched && description?.dirty">
          <small class="text-danger" *ngIf="description.errors?.['required']">
            Description is required
          </small>
          <small class="text-danger" *ngIf="description.errors?.['minlength']">
            Description must be at least 20 characters long
          </small>
        </div>
        <label class="form-label" for="description">Description</label>
      </div>

      <input *ngIf="deleteProductForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Send delete product form">
      <input *ngIf="!deleteProductForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Send delete product form">

    </form>

  </div>
</div>
