<div class="container py-sm-4 h-auto w-auto">
  <div class="rounded-4 card-body col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border p-4">
    <h1 class="card-title text-center mb-3">
      Delete suggestion
    </h1>
    <form [formGroup]="deleteProductForm" (ngSubmit)="deleteProduct()">
      <div class="mat-form-field align-self-auto  w-100">
        <textarea [maxLength]="255" required type="text" id="description" formControlName="description"
                  class="form-control form-control-lg" pattern='^( )*[^ ].{19,}( )*$'></textarea>
        <div *ngIf="description && description?.touched && description?.dirty">
          <small class="text-danger" *ngIf="description.errors?.['required']">
            Description is required
          </small>
          <small class="text-danger" *ngIf="description.errors?.['pattern']">
            Please enter valid description
          </small>

        </div>
        <label class="form-label mt-2" for="description">Description (at least 20 characters)</label>
      </div>

      <input *ngIf="deleteProductForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Send delete product form">
      <input *ngIf="!deleteProductForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Send delete product form">

    </form>

  </div>
</div>
