<div class="answers" *ngIf="answers !== undefined">
	<h5 *ngIf="answers.length < 1">No answers to that question</h5>
	<ul *ngIf="answers.length > 0">
		<li *ngFor="let a of answers">
			<div
				class="answer-container p-3"
				id="{{ a.answerId }}"
				[ngClass]="{ 'bg-warning': a.answerId === highlightedId }"
			>
				<span
					><b>{{ a.author.visibleName }}</b></span
				>
				<p class="fs-6">{{ a.content }}</p>
				<div class="actions">
					<span>{{ a.date | date : 'dd/MM/yyyy hh:mm:ss a' }}</span>
					<div class="d-inline">
						<div class="d-inline" *ngIf="role == 'USER'">
							<span class="divider"></span>
							<button class="btn btn-sm btn-danger" (click)="openReportModal(a.answerId)">
								<i class="bi bi-flag"></i>
							</button>
						</div>
						<div
							class="delete d-inline"
							*ngIf="role == 'ADMIN' || (role == 'USER' && username == a.author.visibleName)"
						>
							<span class="divider"></span>
							<button class="btn btn-sm btn-dark" (click)="deleteAnswer(a.answerId)">
								<i class="bi bi-trash"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
	<div class="answer-form p-3" *ngIf="authenticated">
		<div class="m-2">
			<button class="btn btn-info" *ngIf="!reply" (click)="onReply()">Reply</button>
		</div>

		<form [formGroup]="answerForm" (ngSubmit)="onSubmit()" *ngIf="reply">
			<div class="form-group">
				<textarea
					class="form-control"
					placeholder="Add answer"
					formControlName="answer"
					[ngClass]="{
						'is-invalid': submitted && answerForm.controls['answer'].errors
					}"
				></textarea>
				<div
					class="invalid-feedback fs-6"
					*ngIf="submitted && answerForm.controls['answer'].errors"
				>
					<div *ngIf="answerForm.controls['answer'].errors['required']">
						Answer cannnot be empty
					</div>
					<div *ngIf="answerForm.controls['answer'].errors['minlength']">
						Answer must be at least 2 characters
					</div>
					<div *ngIf="answerForm.controls['answer'].errors['maxlength']">
						Answer must be at most 100 characters
					</div>
				</div>
			</div>
			<div class="m-2">
				<button type="submit" class="btn btn-info">Reply</button>
			</div>
		</form>
	</div>
</div>
