<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>
    <div class="button-row">
      <a class="navbar-brand" routerLink="/">OpinionCollector</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <span *ngIf="authenticated" class="me-2">Hi, {{email}}</span>
      <button routerLink="/suggestion" class="btn btn-dark me-3" *ngIf="authenticated">
        <i class="bi bi-plus-circle fs-6 me-2"></i>
        <div class="d-none d-sm-inline">Add product</div></button>
      <i routerLink="/profile" class="bi bi-person me-4 fa-2xl" *ngIf="authenticated"></i>
      <i routerLink="/dashboard/users" class="bi bi-person-gear me-4 fa-2xl" *ngIf="authenticated && role=='ADMIN'"></i>
      <app-events-icon style="padding: 10px"></app-events-icon>
      <button class="btn-danger btn" *ngIf="authenticated" (click)="onLogout()">Logout</button>
      <button class="btn-primary btn me-3" *ngIf="!authenticated" routerLink="/register">Register</button>
      <button class="btn-primary btn" *ngIf="!authenticated" routerLink="/login">Login</button>
    </div>
  </div>
</nav>
