<ngb-alert (closed)="passwordChangeStatus = 0" [dismissible]="true" *ngIf="passwordChangeStatus == 2" class="alert alert-danger alert-dismissible fade show m-3" role="alert">
  <strong>Error during changing password</strong>
</ngb-alert>
<ngb-alert (closed)="passwordChangeStatus = 0" [dismissible]="true" *ngIf="passwordChangeStatus == 3" class="alert alert-danger alert-dismissible fade show m-3" role="alert">
  <strong>Repeated password doesn't match password</strong>
</ngb-alert>
<div class="container">
  <div class="justify-content-center align-middle d-flex">
    <div class="panel-body">
      <div class="text-center card p-5 rounded-4 mt-5" style="background: #ffffff80; border-radius: 10px; box-shadow: 0 4px 30px #0000001a;backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);">
        <h3><i class="bi-lock bi-unlock fa-4x"></i></h3>
        <h2 class="text-center">You're almost there!</h2>
        <p>You can reset your password here.</p>
        <div class="panel-body">
          <form (ngSubmit)="resetPassword()" [formGroup]="confirmPassword" autocomplete="off" class="form" role="form">
            <div class="form-group" style="position: relative; margin: auto; max-width: 300px;">
              <h6 *ngIf="password && password.touched && password.getRawValue().length === 0" class="validation-message">Enter your
                password</h6>
              <div class="input-group">
                <input class="form-control" formControlName="password" name="email" placeholder="password"
                       required="" type="password"
                       [ngClass]="{'is-invalid': password && password.touched && password.invalid}">
              </div>
              <div class="input-group mt-3">
                <input class="form-control" formControlName="repeatPassword" name="email" placeholder="repeat password"
                       required="" type="password"
                       [ngClass]="{'is-invalid': repeatPassword && repeatPassword.touched && repeatPassword.hasError('notSame')}">
              </div>
            </div>
            <span *ngIf="repeatPassword?.hasError('notSame')" class="validation-message text-wrap">Repeated password doesn't match new password</span>

            <div class="form-group">
              <input class="btn btn-lg btn-primary btn-block mt-3" name="recover-submit" type="submit"
                     value="Reset Password">
            </div>

            <input class="hide" id="token" name="token" type="hidden" value="">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
