<div class="container custom-container">
	<div class="card">
		<div class="header">
			<h3 class="mb-4 text-center">About us</h3>
		</div>
		<div class="content">
			<p>
				Opinion Collector is a website that allows users to share their thoughts and opinions about
				various products and services. Users can create their own posts to ask questions or share
				their experiences with others. Other users can then respond with their own opinions and
				experiences. The website is a platform for gathering and exchanging information and insights
				about a wide range of products and topics. It is a valuable resource for consumers looking
				for honest and authentic feedback from real people. The website also allows users to rate
				and review products, helping others make informed purchasing decisions. Whether you're
				looking for recommendations, advice, or simply want to share your own thoughts and
				experiences, Opinion Collector is the place to be.
			</p>
		</div>
		<div class="header mt-5">
			<h3 class="mb-4">Contact</h3>
		</div>
		<div class="content">
			<p>Phone number: 999999999</p>
			<p>Email address: support@opinioncollector.com</p>
		</div>
	</div>
</div>
