<div class="container py-sm-4 h-auto w-auto">
  <div class="rounded-4 card-body col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border p-4">
    <h1 class="card-title text-center">
      Add product
    </h1>
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">

      <div class="form-outline mb-4">
        <span class="form-label">Name</span>
        <input required class="form-control form-control-lg" type="text" id="name" formControlName="name" pattern='^( )*[^ ].*( )*$'/>
        <div *ngIf="name && name?.touched && name?.dirty">
          <span class="text-danger" *ngIf="name.errors?.['required']">
            Name is required
          </span>
          <span class="text-danger" *ngIf="name.errors?.['pattern']">
            Please enter valid name
          </span>
        </div>
      </div>

      <div class="form-outline mb-4">
        <span class="form-label">Description</span>
        <textarea required type="text" id="description" formControlName="description"
                  class="form-control form-control-lg" pattern='^( )*[^ ].*( )*$'></textarea>
        <div *ngIf="description && description?.touched && description?.dirty">
          <span class="text-danger" *ngIf="description.errors?.['required']">
            Description is required
          </span>
          <span class="text-danger" *ngIf="description.errors?.['pattern']">
                Please enter valid description
          </span>
        </div>
      </div>

      <div class="form-row mb-4">
        <div class="form-group">
          <label class="form-label" for="categoryID">Categories</label>
          <select #selectList formControlName="category" class="form-control form-select"
                  id="categoryID" (ngModelChange)="onCategoryChanged(selectList.value)" >
            <option value="" selected disabled>Select Category</option>
            <option *ngFor="let cat of categories" [ngValue]="cat.categoryID">{{cat.name}}</option>
          </select>
        </div>
      </div>

      <ng-container formArrayName="properties">
        <ng-container *ngFor="let prop of properties.controls; let i = index">
          <div class="form-outline">
            <span class="form-label">{{propertyKeys[i]}}</span>
            <input class="form-control form-control-lg"
                   placeholder="{{propertyKeys[i]}}" formControlName="{{i}}" pattern='^( )*[^ ].*( )*$'>
            <div *ngIf="prop && prop?.touched && prop?.dirty">
              <span class="text-danger" *ngIf="prop.errors?.['pattern']">
                Please enter valid data
              </span>
            </div>
          </div>
        </ng-container>
      </ng-container>


      <input *ngIf="addProductForm.valid" type="submit"
             class="mt-3 btn btn-primary btn-lg btn-block w-100" value="Add product">
      <input *ngIf="!addProductForm.valid" type="submit"
             class="mt-3 disabled btn btn-light btn-lg btn-block w-100" value="Add product">

    </form>

  </div>
</div>
