
<div class="container py-sm-4 h-auto w-auto">
  <h1>
    ADD CATEGORY
  </h1>
  <div class="col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border">
    <form [formGroup]="addCategoryForm" (ngSubmit)="createCategory()">

      <div class="mat-form-field mb-3">
        <label class="form-label" for="name">Name</label>
        <input required type="text" id="name" formControlName="name" class="form-control form-control-lg" />
        <div *ngIf="name && name?.touched && name?.dirty">
          <small class="text-danger" *ngIf="name.errors?.['required']">
            Name is required
          </small>
        </div>
      </div>

      <div class="mat-form-field mb-2">
        <label class="form-label me-2 " for="parent">Parent category</label>
        <select id="parent" formControlName="parent" >
          <option selected="selected" value="{{null}}">None</option>
          <option *ngFor="let category of categories$ | async" value="{{category.categoryID}}" >
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="mat-form-field mb-1">
        <button type="button" class="btn btn-primary ms-2" (click)="addFields()">Add field</button>
      </div>
      <div class="col-container" style="display:flex; width: 100%;">
        <div class="col" formArrayName="fieldsNames">
          <div class="container modal-dialog-centered" style="height: 56px" *ngFor="let name of getFieldsNames.controls; let i = index">
            <label class="form-label me-1" for="name-{{ i }}">Name: </label>
            <input type="text" id="{{ i }}" [formControlName]="i" />
            <div *ngIf="getFieldName(i) && getFieldName(i)?.touched && getFieldName(i)?.dirty">
              <small class="text-danger" *ngIf="getFieldName(i).errors?.['required']">
                Name is required
              </small>
            </div>
          </div>
        </div>
        <div class="col" formArrayName="fieldsTypes">
          <div class="container modal-dialog-centered" style="height: 56px" *ngFor="let type of getFieldsTypes.controls; let i = index">
            <label class="form-label me-1" for="type-{{ i }}">Type: </label>
            <select id="{{ i }}" [formControlName]="i" >
              <option value="Int">Int</option>
              <option value="Double">Double</option>
              <option value="String">String</option>
            </select>
            <div *ngIf="getFieldType(i) && getFieldType(i)?.touched && getFieldType(i)?.dirty">
              <small class="text-danger" *ngIf="getFieldType(i).errors?.['required']">
                Name is required
              </small>
            </div>
            <button type="button" class="btn btn-primary ms-2 modal-dialog-centered" style="height: 30px" (click)="removeFields(i)">Remove field</button>
          </div>
        </div>
      </div>
      <input *ngIf="addCategoryForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Add product">
      <input *ngIf="!addCategoryForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Add product">

    </form>

  </div>
</div>
