
<div class="container py-sm-4 h-auto w-auto">
  <h1>
    ADD CATEGORY
  </h1>
  <div class="col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border">
    <form [formGroup]="addCategoryForm" (ngSubmit)="createCategory()">

      <div class="mat-form-field align-self-auto">
        <input required type="text" id="name" formControlName="name" class="form-control form-control-lg" />
        <div *ngIf="name && name?.touched && name?.dirty">
          <small class="text-danger" *ngIf="name.errors?.['required']">
            Name is required
          </small>
        </div>
        <label class="form-label" for="name">Name</label>
      </div>

      <div formArrayName="fields">
        <h2>Fields</h2>
        <button type="button" (click)="addFields()">+ Add another field</button>
        <div *ngFor="let field of getFields.controls; let i=index">
          <label for="field-{{ i }}">Field:</label>
          <input id="field-{{ i }}" type="text" [formControlName]="i">
        </div>
      </div>

      <input *ngIf="addCategoryForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Add product">
      <input *ngIf="!addCategoryForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Add product">

    </form>

  </div>
</div>
