.mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 20px;
  }
  .products-list-container {
    width: 100%;
    align-content: center;
    margin: auto;
  }
  
  table {
    width: 100%;
  }
  
  th.mat-header-cell, .mat-cell {
    text-align: center !important;
  }

  .mat-row:hover {
    background-color: #dee2e6;
    cursor: pointer;
  }
  