<ngb-alert (closed)="emailStatus = 0" *ngIf="emailStatus == 1" [dismissible]="true"
           class="alert alert-success alert-dismissible fade show m-3"
           role="alert" type="success">
  <strong>Email has been sent.</strong>
</ngb-alert>
<ngb-alert (closed)="emailStatus = 0" *ngIf="emailStatus == 2" [dismissible]="true"
           class="alert alert-danger alert-dismissible fade show m-3"
           role="alert" type="danger">
  <strong>Given data is not an email, or there is no user with given email.</strong>
</ngb-alert>
<ngb-alert (closed)="emailStatus = 0" *ngIf="emailStatus == 3" [dismissible]="true"
           class="alert alert-danger alert-dismissible fade show m-3"
           role="alert" type="danger">
  <strong>Link for password reset was already sent.</strong>
</ngb-alert>
<div class="container">
  <div class="justify-content-center align-middle d-flex" style="">
    <div class="card p-5 mt-3 rounded-4" style="background-color: ghostwhite;">
      <div class="text-center card-body">
        <h3><i class="bi bi-lock bi-lock"></i></h3>
        <h2 class="text-center">Forgot Password?</h2>
        <p>You can reset your password here.</p>
        <div class="panel-body">
          <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" autocomplete="off" class="form"
                role="form">
            <div class="form-group" style="position: relative; margin: auto; max-width: 300px;">
              <div class="input-group">
                <input class="form-control" formControlName="email" name="email" placeholder="email address"
                       type="email">
              </div>
            </div>
            <div class="form-group">
              <input class="btn btn-lg btn-primary btn-block mt-3" name="recover-submit" type="submit"
                     value="Send email">
            </div>
            <input class="hide" id="token" name="token" type="hidden" value="">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
