<div class="d-flex flex-column p-3 text-center me-0">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg width="25" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Navigation Panel</span>
    </a>
      <hr>
      <div class="dropdown text-center">
        <i class="bi bi-person-gear me-1 fa-10x heading"></i>
        <strong>Admin: {{email}}</strong>
    </div>
    <div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="users" class="nav-link active text-center" aria-current="page">
          <svg width="1" height="1"><use xlink:href="#home"></use></svg>
          Users
        </a>
      </li>
    </ul>
      <hr>
    <ul class="nav nav-pills flex-column mb-auto mt-3">
      <li class="nav-item">
        <a routerLink="events" class="nav-link active text-center" aria-current="page">
          <svg width="1" height="1"><use xlink:href="#home"></use></svg>
          Events
        </a>
      </li>
    </ul>
    <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="categories" class="nav-link active text-center" aria-current="page">
            <svg width="1" height="1"><use xlink:href="#home"></use></svg>
            Categories
          </a>
        </li>
      </ul>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink=" " class="nav-link active text-center" aria-current="page">
            <svg width="1" height="1"><use xlink:href="#home"></use></svg>
            Place for your button
          </a>
        </li>
      </ul>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink=" " class="nav-link active text-center" aria-current="page">
            <svg width="1" height="1"><use xlink:href="#home"></use></svg>
            Place for your button
          </a>
        </li>
      </ul>
      <hr>

</div>
</div>
