<div class="d-flex flex-column flex-shrink-0 p-3 bg-light text-center me-0">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg width="25" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Navigation Panel</span>
    </a>
      <hr>
      <div class="dropdown text-center">
        <i class="bi bi-person-gear me-1 fa-10x heading"></i>
        <strong>Admin: {{email}}</strong>
    </div>
    <div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/admin" class="nav-link active text-center" aria-current="page">
          <svg width="1" height="1"><use xlink:href="#home"></use></svg>
          Users
        </a>
      </li>
    </ul>
    <hr>
</div>
</div>