@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.validation-message {
  color: red;
  font-size: 15px;
  font-family: 'Poppins', 'sans-serif';
}
