@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("src/assets/backgrounds/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  height: 100%;
}

ngb-alert {
  box-shadow: 0 0 5px 5px #0000002a;
  opacity: 90%;
}

.validation-message {
  color: red;
  font-size: 15px;
  font-family: 'Poppins', 'sans-serif';
}

.hover-icon:hover {
  cursor: pointer;
}

.pros-and-cons-list {
  max-height: 12vh;
  overflow-y: scroll;
}
