<div class="container custom-container mt-2">
  <div class="card">
    <div class="header">
      <h2 class="mb-4 text-center">Categories</h2>
      <button routerLink="/categories/add" class="btn btn-primary ms-2">
        Add category
      </button>
    </div>

    <div class="justify-content-center">
      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Id</th>
          <th>Parent category</th>
          <th>Fields</th>
          <th>Delete</th>
          <th>Edit</th>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories$ | async">
          <td>{{ category.name }}</td>
          <td>{{ category.categoryID }}</td>
          <td>{{ category.parentCategory?.name || "None" }}</td>
          <td>
            <ul>
              <li *ngFor="let field of category.fields">
                {{field.name}}: {{field.type}}
              </li>
            </ul>
          </td>
          <td>
            <i type="button" (click)="deleteCategory(category.categoryID)" class="bi bi-trash hover-icon"
                    style="font-size: 30px; color: darkred;"></i>
          </td>
          <td>
            <i [routerLink]="['/categories/edit', category.categoryID]" type="button" class="bi bi-pencil-square hover-icon"
                    style="font-size: 30px; color: darkred;"></i>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
