<div class="container custom-container">
  <div class="card">
    <div class="header">
      <h3 class="mb-4 text-center">Categories</h3>
    </div>

    <div class="justify-content-center">

      <table class="table table-bordered">
        <thead>
          <th>Name</th>
          <th>Parent category</th>
          <th>Fields</th>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories$ | async">
          <td>{{ category.name }}</td>
          <td>{{ category.parentCategory?.name || "None" }}</td>
          <td>
            <ul>
              <li *ngFor="let field of category.fields">
                {{field.name}}: {{field.type}}
              </li>
            </ul>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
