.question-container .left {
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .question-container p {
    background: #e9ebee;
    padding: 6px 10px;
  }

  textarea.form-control {
    resize: none;
  }
  
  .questions ul {
    list-style: none;
    padding: 0;
  }
  
  .questions ul li {
    border-bottom: #EEE 1px solid;
    margin-bottom: 10px;
  }
  
  .questions ul li:last-child {
    border-bottom: none;
  }
  
  .questions h5 {
    margin: 15px;
  }
  
  .divider {
    margin: 0 5px;
    width: 1px;
    height: 20px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
  }
  
  .actions {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .actions .btn {
    font-size: 12px;
  }
  
  .header {
    border-bottom: #EEE 1px solid;
    margin-bottom: 20px;
  }