<section class="align-middle justify-content-center m-sm-5 m-2">
  <ngb-alert (closed)="failedRegister = !failedRegister" *ngIf="failedRegister" [dismissible]="true"
             class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>There is another account which is registered on this email.</strong>
  </ngb-alert>
  <div class="container pt-xl-5 h-100 w-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img alt="Logo"
             class="img-fluid " src="assets/logo.svg">
      </div>
      <div
        class="col-md-11 col-lg-8 col-xl-5 offset-xl-1 border-dark border-opacity-50 border p-3 pt-5 p-sm-5 rounded-4"
        style="background-color: ghostwhite;">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <span *ngIf="email && email.touched && email.invalid" class="validation-message">Enter a valid email</span>
            <input class="form-control form-control-lg" formControlName="email" id="email" required type="email"/>
            <label class="form-label" for="email">Email address</label>
          </div>

          <!-- Username input -->
          <div class="form-outline mb-4">
            <span *ngIf="username && username.touched && username.invalid" class="validation-message">Enter a valid username</span>
            <input class="form-control form-control-lg" formControlName="username" id="username" required type="text"/>
            <label class="form-label" for="email">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <span *ngIf="password && password.touched && password.invalid" class="validation-message">Password is required</span>
            <input class="form-control form-control-lg" formControlName="password" id="password" required
                   type="password"/>
            <label class="form-label" for="password">Password</label>
          </div>


          <!-- Submit button -->
          <input *ngIf="registerForm.valid" class="btn btn-primary btn-lg btn-block w-100" type="submit"
                 value="Register">
          <input *ngIf="!registerForm.valid" class="disabled btn btn-primary btn-lg btn-block w-100" type="submit"
                 value="Register">

          <div class="divider d-flex align-items-center my-4 justify-content-around">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">Or continue with:</p>
          </div>

          <div class="justify-content-around align-items-center d-flex">
            <a class="btn btn-primary btn-lg btn-block w-50 me-2" href="#!" role="button"
               style="background-color: #3b5998">
              <i class="bi bi-facebook" style="font-size: 20px"></i>
            </a>
            <a class="btn btn-danger btn-lg btn-block w-50 ms-2" href="#!" role="button"
               style="background-color: #e8545f">
              <i class="bi bi-google" style="font-size: 20px"></i></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
