<div>
  <div class="card-title">
    <div class="row">
      <div class="col-sm-12 text-md-start pt-3">
        <h2 class="col-sm-6">User <b>Administration</b></h2>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="d-flex col-xxl-5 col-xl-6" style="padding: 20px">
      <input [(ngModel)]="emailFilter" (ngModelChange)="getUsers()" class="form-control w-50" placeholder="Filter by email or username"
             type="text">
      <button (click)="clearFilter()" class="btn btn-primary ms-2">Clear input</button>
    </div>
    <div class="table-responsive">
      <table [dataSource]="dataSource" class="table mb-0 bg-light table-hover table-striped text-center align-middle"
             mat-table>
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Username
          </th>
          <td *matCellDef="let element" mat-cell>{{element.visibleName}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Email
          </th>
          <td *matCellDef="let element" mat-cell>{{element.email}}</td>
        </ng-container>

        <ng-container matColumnDef="active">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Active
          </th>
          <td *matCellDef="let element" mat-cell>
            <i *ngIf="!element.active" class="bi bi-x" style="font-size: 30px; color: darkred;"></i>
            <i *ngIf="element.active" class="bi bi-check" style="font-size: 30px; color: green;"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Role
          </th>
          <td *matCellDef="let element" mat-cell>{{element.role}}</td>
        </ng-container>

        <ng-container matColumnDef="ban">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Locked
          </th>
          <td *matCellDef="let element" mat-cell>
            <i (click)="lockUser(element.email)" *ngIf="!element.locked" class="bi bi-unlock hover-icon"
               style="font-size: 30px; color: green;"></i>
            <i (click)="unlockUser(element.email)" *ngIf="element.locked" class="bi bi-lock hover-icon"
               style="font-size: 30px; color: darkred;"></i>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef class="align-middle" mat-header-cell
              style="font-size: large; font-weight: bold; color: black; text-align: center">Delete
          </th>
          <td *matCellDef="let element" mat-cell>
            <i (click)="removeUser(element.email)" *ngIf="!element.deleted" class="bi bi-trash hover-icon"
               style="font-size: 30px; color: darkred;"></i>
            <b *ngIf="element.deleted" style="font-size: 15px; color: black;">Deleted</b>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
    <mat-paginator #paginator [pageSizeOptions]="[5,10,15]" [pageSize]="10" class="bg-light"
                   showFirstLastButtons></mat-paginator>
  </div>
</div>


