<div class="container custom-container">
    <h3 class="mb-4 text-center">Product</h3>
    <div class="col-6">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">productId</th>
          <th scope="col">categoryId</th>
          <th scope="col">name</th>
          <th scope="col">description</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ 'product.productId' }}</td>
            <td>{{ 'product.categoryId' }}</td>
            <td>{{ 'product.name' }}</td>
            <td>{{ 'product.description' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
