<div class="container custom-container">
  <div class="card">
    <div class="header">
      <h3 class="mb-4 text-center">Product</h3>
    </div>

    <div class="row justify-content-center">
      <table class="table table-bordered">
        <tbody>

        <tr>
          <th scope="col">productId</th>
          <td>{{ product.productId }}</td>
        </tr>
        <tr>
          <th scope="col">categoryId</th>
          <td>{{ product.categoryId }}</td>
        </tr>
        <tr>
          <th scope="col">name</th>
          <td>{{ product.name }}</td>
        </tr>
        <tr>
          <th scope="col">description</th>
          <td>{{ product.description }}</td>
        </tr>

        <tr>
          <th scope="col">deleted</th>
          <td>{{ product.deleted }}</td>
        </tr>

        <tr>
          <th scope="col">confirmed</th>
          <td>{{ product.confirmed }}</td>
        </tr>
        </tbody>
      </table>

      <div class="mb-4">
        <h3>properties</h3>
        <table class="table table-bordered">
          <tbody>
          <tr *ngFor="let item of product.properties | keyvalue">
            <th>{{ item.key }}</th>
            <td>{{ item.value }}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

    <app-add-product></app-add-product>

    <app-opinions [productId]="product.productId"></app-opinions>

    <app-questions [productId]="product.productId"></app-questions>

  </div>
</div>
