<div class="container py-sm-4 h-auto w-auto">
  <h1>
    EDIT CATEGORY
  </h1>
  <div class="col-md-8 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border">
    <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()">

      <div class="mat-form-field align-self-auto">
        <h1 class="form-label" for="name">Name</h1>
        <input required type="text" id="name" formControlName="name" class="form-control form-control-lg" />
        <div *ngIf="name">
          <small class="text-danger" *ngIf="name.errors?.['required']">
            Name is required
          </small>
        </div>
      </div>

      <div class="mat-form-field align-self-auto">
        <h1 class="form-label" for="parent">Parent</h1>
        <select id="parent" formControlName="parent" >
          <option value="{{null}}" type="text/javascript" [selected]="parent == undefined">None</option>
          <option *ngFor="let category of categories | async" value="{{category.categoryID}}" [selected]="category.categoryID === parent" type="text/javascript">
            {{category.name}}
          </option>
        </select>
      </div>

      <h1>Fields</h1>
      <button type="button" (click)="addFields()">+ Add field</button>
      <div class="container" style="display:flex">
        <div class="item" formArrayName="fieldsNames">
          <div *ngFor="let name of getFieldsNames.controls; let i = index">
            <label for="name-{{ i }}"></label>
            <input type="text" id="{{ i }}" [formControlName]="i" />
          </div>
        </div>
        <div class="item" formArrayName="fieldsTypes">
          <div *ngFor="let type of getFieldsTypes.controls; let i = index">
            <label for="type-{{ i }}">Type: </label>
            <select id="{{ i }}" [formControlName]="i" >
              <option value="Int">Int</option>
              <option value="Double">Double</option>
              <option value="String">String</option>
            </select>
            <button type="button" (click)="removeFields(i)">- Remove field</button>
          </div>
        </div>
      </div>
      <input *ngIf="editCategoryForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Accept">
      <input *ngIf="!editCategoryForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Accept">

    </form>

  </div>
</div>
