<div class="container py-sm-4 h-auto w-auto">
  <h1>
    EDIT CATEGORY
  </h1>
  <div class="col-md-10 p-lg-4 mx-lg-auto my-lg-4 bg-white border-4 border">
    <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory()">

      <div class="mat-form-field mb-3 w-100">
        <label class="form-label" for="name">Name</label>
        <input required type="text" id="name" formControlName="name" class="form-control form-control-lg" />
        <div *ngIf="name && name?.touched && name?.dirty">
          <small class="text-danger" *ngIf="name.errors?.['required']">
            Name is required
          </small>
        </div>
      </div>

      <div class="mat-form-field mb-2">
        <label class="form-label me-2 w-100" for="parent">Parent category</label>
        <select class="form-select w-100" id="parent" formControlName="parent" >
          <option value="{{null}}" [selected]="parent == undefined">None</option>
          <option *ngFor="let category of categories | async" value="{{category.categoryID}}" [selected]="category.categoryID === parent" type="text/javascript">
            {{category.name}}
          </option>
        </select>
      </div>
      <div class="col-container d-flex">
        <div class="col-6">
          <div formArrayName="oldFieldsNames">
            <div class="container my-2" *ngFor="let name of getOldFieldsNames.controls; let i = index">
              <label class="form-label me-1" for="name-{{ i }}"></label>
              <input class="form-control w-auto d-inline-block" type="text" id="{{ i }}" [formControlName]="i" />
              <p class="ms-2 d-inline text-danger" *ngIf="getOldFieldName(i) && getOldFieldName(i)?.touched && getOldFieldName(i)?.dirty && getOldFieldName(i).errors?.['required']">
                Name is required
              </p>
            </div>
          </div>
          <div formArrayName="newFieldsNames">
            <div class="container my-2" *ngFor="let name of getNewFieldsNames.controls; let i = index">
              <label class="form-label me-1" for="name-{{ i }}"></label>
              <input class="form-control w-auto d-inline-block" type="text" id="{{ i }}" [formControlName]="i" />
              <p class="ms-2 d-inline text-danger" *ngIf="getNewFieldName(i) && getNewFieldName(i)?.touched && getNewFieldName(i)?.dirty && getNewFieldName(i).errors?.['required']">
                Name is required
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div formArrayName="oldFieldsTypes">
            <div class="container my-2" *ngFor="let type of getOldFieldsTypes.controls; let i = index">
              <label class="form-label me-1" for="type-{{ i }}">Type: </label>
              <select class="form-select w-auto d-inline-block" id="{{ i }}" [formControlName]="i" >
                <option value="Int">Int</option>
                <option value="Double">Double</option>
                <option value="String">String</option>
              </select>
              <p class="ms-2 d-inline text-danger" *ngIf="getOldFieldType(i) && getOldFieldType(i)?.touched && getOldFieldType(i)?.dirty && getOldFieldType(i).errors?.['required']">
                Type is required
              </p>
              <button class="d-inline-block btn btn-danger ms-2 modal-dialog-centered"  type="button" (click)="removeOldFields(i)">
                <i class="bi bi-trash me-2"></i>Remove field
              </button>
            </div>
          </div>
          <div  formArrayName="newFieldsTypes">
            <div class="container my-2" *ngFor="let type of getNewFieldsTypes.controls; let i = index">
              <label class="form-label me-1" for="type-{{ i }}">Type: </label>
              <select class="form-select w-auto d-inline-block" id="{{ i }}" [formControlName]="i" >
                <option value="Int">Int</option>
                <option value="Double">Double</option>
                <option value="String" [selected]="true">String</option>
              </select>
              <p class="ms-2 d-inline text-danger" *ngIf="getNewFieldType(i) && getNewFieldType(i)?.touched && getNewFieldType(i)?.dirty && getNewFieldType(i).errors?.['required']">
                Type is required
              </p>
              <button class="d-inline-block btn btn-danger ms-2 modal-dialog-centered" type="button" (click)="removeNewFields(i)">
                <i class="bi bi-trash me-2"></i>Remove field
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <button type="button" class="btn btn-primary" (click)="addFields()">
          <i class="bi bi-plus-circle me-2"></i>
          Add field
        </button>
      </div>
      <input *ngIf="editCategoryForm.valid" type="submit" class="btn btn-primary btn-lg btn-block w-100" value="Accept">
      <input *ngIf="!editCategoryForm.valid" type="submit" class="disabled btn btn-light btn-lg btn-block w-100" value="Accept">

    </form>

  </div>
</div>
